.hero-container {
    background: #f0ddc1;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px #f0ddc1;
    object-fit: contain;
}

.hero-container>h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
}

.hero-container>p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero-btns {
    margin-top: 32px;
}

.hero-btns .btn {
    margin: 6px;
}

.fa-play-circle {
    margin-left: 4px;
}

.card {
    /* Weisser Container um  Bild und Text Container*/
    padding: 4rem;
    background: #fff;
    flex-flow: column;
    align-items: center;
    max-width: auto;
    width: 90%;
    margin-bottom: 24px;
    position: relative;
    margin: 50px 0 45px;
    border-radius: 10px;

    display: grid;
}


.container {
    /* Weisser Container um  Bild und Text*/
    display: flex;
    align-items: center;
    margin: 0 auto;


    /* border: 3px dashed red; */

}

.image-wrap {
    /* Umramdung vom Bild */
    display: flex;
    flex-flow: row;
    width: 1024px;
    overflow: hidden;
    max-width: auto;

    /* border: 3px dashed green; */
}

.alwina {
    /* Bild */
    margin-right: 50%;
    width: 825px;
    max-width: 100%;
    height: 570px;
    scale: 102%;

    max-height: 100%;
    object-fit: contain;
    transition: all 0.2s linear;
    background-position: center;

    position: relative;

    position: relative;

}

.image__container {
    /* Bildumrandung Container*/

    display: flex;
    flex-direction: row;
    width: 45%;
    height: 570px;
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;

}

.text__container {
    margin: 35px;
}

/* Label auf dem Bild */
/* .image-wrap::after {  
    content: attr(data-category);
    
    position: relative;
    left: 0;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #9e9e9e;
    box-sizing: border-box;

} */

.alwina:hover {
    transform: scale(1.1);
}


.alwina-text {


    color: #252e48;
    font-size: 38px;
    line-height: 48x;
    width: auto;
    /* border: 3px dashed #1c87c9; */

}

@media screen and (max-width: 960px) {
    .hero-container>h1 {
        font-size: 70px;
        margin-top: -150px;
    }
}

@media screen and (max-width: 768px) {
    .hero-container>h1 {
        font-size: 50px;
        margin-top: -100px;
    }

    .hero-container>p {
        font-size: 30px;
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
    }

    .btn {
        width: 100%;
    }
}