.hero-container {
    background: #f0ddc1;
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px #f0ddc1;
    object-fit: contain;
}

.hero-container>h1 {
    color: #fff;
    font-size: 100px;
}

.hero-container>p {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 48px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero-btns {
    margin-top: 32px;
}

.hero-btns .btn {
    margin: 6px;
}

.fa-play-circle {
    margin-left: 4px;
}

.image__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    background: #fff;
}

.image__wrapper {
    position: relative;
    margin: 50px 0 45px;
    /* border: 3px dashed rgb(134, 50, 64); */
}

/* Weisser Container um  Bild und Text Container*/
.card {
    margin-bottom: 24px;
}

/* Weisser Container um  Bild und Text*/
.image__item__container {
    display: flex;
    max-width: 30vh;
    height: 40vh;
    flex-basis: 100%;
    margin-left: 4vh;
}

.text__item__container {
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.image__text__container {
    /* Bildumrandung Container*/
    display: flex;
    width: 100%;
    overflow: hidden;
}

.figure__image__wrap {
    /* Umramdung vom Bild */
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
}

.figure__image__wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #9e9e9e;
    box-sizing: border-box;
}

/* Bild */
.ceo__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: contain;
    transition: all 0.2s linear;
    /* border: 3px dashed green; */
}

.ceo__image:hover {
    transform: scale(1.1);
}

.text__container {
    margin: 35px;
    padding: 20px 30px 30px;
}

.description_ceo_text {
    color: #252e48;
    font-size: 38px;
    line-height: 48x;
    /* border: 3px dashed #1c87c9; */
}

@media screen and (max-width: 1231px) {
    .hero-container>h1 {
        font-size: 70px;
        margin-top: -150px;
    }
}

@media screen and (max-width: 768px) {
    .hero-container>h1 {
        font-size: 50px;
        margin-top: -100px;
    }

    .hero-container>p {
        font-size: 30px;
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
    }

    .btn {
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    .content__blog__container {
        width: 84%;
    }

}

@media only screen and (min-width: 1360px) {
    .card {
        display: flex;
    }
}

@media only screen and (max-width: 1360px) {
    .container {
        margin: auto;
    }
}